/* You can add global styles to this file, and also import other style files */
body {
  background-color: #acb8dc;
  color: #050505;
}

.mb2 {
  margin-bottom: 2em;
}

button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
}

h1 {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;

  text-align: center;
  line-height: 59px;

  padding: 0 64px;
  margin: 0;
}
