.container {
  margin: 1em;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    'stretchLabel stretchLabel stretchInput'
    'restLabel restLabel restInput';
  grid-row-gap: 1em;
}

.container > div {
  font-size: 20px;
}

.row {
  margin-top: 1em;
}

.stretchLabel {
  grid-area: stretchLabel;
  width: 200px;
  //grid-column-start: 1;
  //grid-column-end: 2;
}

.stretchInput {
  grid-area: stretchInput;
  width: 10px;
  //grid-column-start: 2;
}

.foo{
  width: 50px;
}

.restLabel {
  grid-area: restLabel;
}

.restInput {
  grid-area: restInput;
}
//
//.row {
//  display: inline-grid;
//}
