.navbar {
  overflow: hidden;
  background-color: #569dab;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

.navbar a {
  float: left;
  display: block;
  padding: 8px 16px;
}

.foo {
  width: 27px;
}
