<div class="navbar">
  <a routerLink=""><img class="button-navbar" src="./assets/images/home-svgrepo-com.svg" alt="Go to Home"/></a>
  <a routerLink="timer"><img class="button-navbar" src="./assets/images/clock-svgrepo-com.svg" alt="Go to Timer"/></a>
  <a routerLink="activities/daily"><img class="button-navbar" src="./assets/images/list_plus-svgrepo-com.svg" alt="Go to daily activities"/></a>
  <a routerLink="activities"><img class="button-navbar" src="./assets/images/settings-svgrepo-com.svg" alt="Go to general settings"/></a>
</div>
