<div class="container">
  <div class="stretchLabel"><label>Stretch seconds: </label></div>
  <div class="stretchInput">
    <input class="secondsInput" #stretchRef (change)="changeStretch(stretchRef.value)" [value]="stretch" type="number">
  </div>
  <div class="restLabel"><label>Rest seconds: </label></div>
  <div class="restInput">
    <input class="secondsInput" #restRef (change)="changeRest(restRef.value)" [value]="rest" type="number">
  </div>
  <div class="muteLabel"><label>Toggle mute: </label></div>
  <div class="muteInput">
    <label class="switch">
      <input type="checkbox" (change)="changeMute($event)" [checked]="mute">
      <span class="slider round"></span>
    </label>
  </div>
</div>
