.container {
  margin: 1em;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    'stretchLabel stretchLabel stretchInput'
    'restLabel restLabel restInput';
  grid-row-gap: 1em;
}

.container > div {
  font-size: 25px;
}

.stretchLabel {
  grid-area: stretchLabel;
  width: 225px;
}

.stretchInput {
  grid-area: stretchInput;
  width: 10px;
}

.secondsInput{
  height: 30px;
  width: 50px;
}

.restLabel {
  grid-area: restLabel;
}

.restInput {
  grid-area: restInput;
}
